.DS_Store
.*.aux
*.glob
*.vo
*.v.d
*.a
*.cma
*.cmxa
*.cmxs
*.cmi
*.cmo
*.cmx
*.o
*.ml.d
*.mli.d
*.mllib.d
*.ml4.d
Makefile.bak
paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.brf
paper/*.log
paper/*.out
paper/*.pdf
